.header {
  width: 1440px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__name {
  margin-left: 20px;
  cursor: pointer;
}
.header__control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}
.button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.header__button_in {
  border: none;
}
.header__button_up {
  border: 1px solid rgba(82, 196, 26, 1);
}
.header__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
  button {
    cursor: pointer;
    margin: 10px;
    width: 115px;
    height: 35px;
    padding: 5px;
    border: 1px solid  rgba(82, 196, 26, 1);
    background-color: white;
    border-radius: 5px;
  }
  span {
    cursor: pointer;
  }
}

